<div *ngIf="!isLoading">
    <div class="row no-gutters" *ngIf="cartList.length">
        <div class="col-12 col-md-8 offset-md-2">
            <div class="table-responsive">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th style="width: 10%;" class="d-none d-md-table-cell"> </th>
                            <th style="width: 40%;">Product Name</th>
                            <th style="width: 10%;" class="d-none d-md-table-cell">Price</th>
                            <th style="width: 10%;" class="text-center">Quantity</th>
                            <th style="width: 20%;" class="text-center">Total</th>
                            <th style="width: 10%;"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor = "let item of cartList;index as i">
                            <tr table-row [cartItem]="item" [index]="i" style="background-color: #ed4726;"></tr>
                        </ng-container>
                        <tr>
                            <th class="bg-dark d-none d-md-table-cell"></th>
                            <th class="bg-dark text-white">Total Cart Price</th>
                            <th class="bg-dark d-none d-md-table-cell"></th>
                            <th class="bg-dark"></th>
                            <th class="text-center bg-dark text-white">&#8377;&nbsp;{{cartPrice | number:'1.2-2'}}</th>
                            <th class="bg-dark"></th>
                        </tr>
                        <tr>
                            <th class="bg-dark d-none d-md-table-cell noborder"></th>
                            <th class="bg-dark text-white noborder">Shipping Charges</th>
                            <th class="bg-dark d-none d-md-table-cell noborder"></th>
                            <th class="bg-dark noborder"></th>
                            <th class="text-center bg-dark text-white noborder">+ &#8377;&nbsp;{{shippingCharges | number:'1.2-2'}}</th>
                            <th class="bg-dark noborder"></th>
                        </tr>
                        <tr>
                            <th class="bg-dark d-none d-md-table-cell noborder"></th>
                            <th class="bg-dark text-white noborder">Discount</th>
                            <th class="bg-dark d-none d-md-table-cell noborder"></th>
                            <th class="bg-dark noborder"></th>
                            <th class="text-center bg-dark text-white noborder">- &#8377;&nbsp;{{0.00 | number:'1.2-2'}}</th>
                            <th class="bg-dark noborder"></th>
                        </tr>
                        <tr>
                            <th class="bg-dark d-none d-md-table-cell"></th>
                            <th class="bg-dark text-white">Total Price</th>
                            <th class="bg-dark d-none d-md-table-cell"></th>
                            <th class="bg-dark"></th>
                            <th class="text-center bg-dark text-white">&#8377;&nbsp;{{totalPrice | number:'1.2-2'}}</th>
                            <th class="bg-dark"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button class="btn btn-lg btn-block btn-dark text-uppercase" type="button" (click)="continueShopping()">Continue Shopping</button>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn btn-lg btn-block btn-primary text-uppercase" (click)="checkout()">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row no-gutters" *ngIf="!cartList.length">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <h3>Your Cart is Empty</h3>
            <br>
            <span class="d-flex justify-content-center">
                <img src="../../../assets/images/—Pngtree—shopping cart convenient icon_4637407.png"
                class="img-fluid" style="height: 40vh;"
                >
            </span>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3 text-right">
                    <button class="btn btn-block btn-lg btn-dark" type="button" (click)="continueShopping()">Continue Shopping</button>
                </div>
            </div>
        </div>
    </div>    
</div>
<div *ngIf="isLoading" class="text-center">
    <app-loading-spinner></app-loading-spinner>
</div>
