<div class="row no-gutters">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10%;" class="d-none d-md-table-cell"> </th>
                        <th style="width: 40%;">Product Name</th>
                        <th style="width: 10%;" class="d-none d-md-table-cell">Price</th>
                        <th style="width: 10%;" class="text-center">Quantity</th>
                        <th style="width: 20%;" class="text-center">Total</th>
                        <th style="width: 10%;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor = "let item of cartList">
                        <tr table-row [cartItem]="item"></tr>
                    </ng-container>
                    <tr class="table-light">
                        <th colspan="2"  class="d-none d-md-table-cell"> </th>
                        <th colspan="2" class="text-right bg-info">Total Cart Price</th>
                        <th class="text-center bg-info">&#8377;&nbsp;500.00</th>
                        <th class=" bg-info"> </th>
                    </tr>
                    <tr class="table-light">
                        <th colspan="2"  class="d-none d-md-table-cell"> </th>
                        <th colspan="2" class="text-right bg-info">Shipping Charges</th>
                        <th class="text-center bg-info">&#8377;&nbsp;50.00</th>
                        <th class=" bg-info"> </th>
                    </tr>
                    <tr class="table-light">
                        <th colspan="2" class="d-none  d-md-table-cell"> </th>
                        <th colspan="2" class="text-right bg-info">Total Price</th>
                        <th class="text-center bg-info">&#8377;&nbsp;550.00</th>
                        <th class=" bg-info"> </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
