<div class="row no-gutters align-items-center" id="nav">
    <div class="col-sm-6 col-md-3">
        <a routerLink = "/home">
            <img class="logo" src="../../assets/images/logowhite.svg" alt="brand-logo">       
        </a>
    </div>
    <div class="col-sm-5 col-md-5">
        <div class="search">
            <input type="search" placeholder="Search product" (keyup.enter)="onSearch(searchInput.value)" #searchInput>
            <button type="button" (click)="onSearch(searchInput.value)"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 nav-links" *ngIf="isLoggedIn">
        <button type="button" routerLink="/cart/cartlist">CART</button>
        <button type="button" style="margin-left: 2px;" (click)='onLogout()'>LOGOUT</button>
    </div>
    <div class="col-sm-12 col-md-4 nav-links" *ngIf="!isLoggedIn">
        <button type="button" (click)="onSignup()">SIGNUP</button>
        <button type="button" (click)="onLogin()" style="margin-left: 2px;">LOGIN</button>
    </div>
</div>
<app-alert-bar></app-alert-bar>
