<div class="row no-gutters align-items-center" id="nav">
    <div class="col">
        <img class="logo" src="../../assets/images/logowhite.svg" alt="brand-logo">       
    </div>
    <div class="col-6">
        <div class="search">
            <input type="text" placeholder="Search product">
            <button><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="col-3 nav-links">
        <button><i class="fa fa-cart-plus"></i></button>
        <button><i class="fa fa-user-circle"></i></button>
    </div>
</div>
