<div class="container">
    <ng-container *ngFor="let order of orders">
        <div class="row">
            <div class="col-4" >
                <p>ORDER-ID</p>
            </div>
            <div class="col-8" >
                <p>{{order.id}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4" >
                <p>Product Name</p>
            </div>
            <div class="col-8" >
                <p>{{order.id}}</p>
            </div>
        </div>
    </ng-container>
</div>


