<div class="container">
    <h3 *ngIf="orders.length<1"> You have not placed any orders yet.</h3>
    <div *ngFor="let order of orders;index as ind" class=" bg-light text-dark">
        <hr>
        <div class="row">
            <div class="col-3 col-md-2">
                <h6>ORDER ID</h6>
            </div>
            <div class="col-9 col-md-4" >
                {{order.id | uppercase}}
            </div>
            <div class="col-3 col-md-2">
                <h6>STATUS</h6>
            </div>
            <div class="col-9 col-md-4">
                {{order.status | uppercase}}
            </div>
        </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of order.products;index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
              </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-6 col-md-2" >
                <h5>Total Price</h5>
            </div>
            <div class="col-6 col-md-4">
                <p><b>&#8377;&nbsp;{{order.price}} </b></p>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center" *ngIf="order.status!='Cancelled' &&  order.status!='Delivered'">
                <button type="button" class="btn btn-lg btn-danger" (click)="cancelOrder(ind)">Cancel</button>
            </div>
        </div>
        <hr>
    </div>
</div>


