.screen-container {
    width: 100%;
    height: 100vh;
    padding: 50px;
    padding-top: 15vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.65);
}

.form-wrap {
    width: 40%;
    margin: auto;
    background-color: white;
}

.d-form {
    padding: 20px;
}

.flex-container {
    display: flex;
    background-color: #cfcfcf;
}

.flex-container > div {
    flex-basis: 48%;
    padding: 10px;
    text-align: center;
}
    
.submit-btn {
    width: 35%;
}

.gender {
    display: inline;
    margin-left: 30px;
}

.cur-mode {
    background-color: white;
}

.f-close {
    flex-basis: 10%;
    cursor: pointer;
    background: #1b1b1b;
    color: white;
}

@media only screen and (max-width: 768px) {

    .screen-container {
        padding-top: 25vh;
    }

    .form-wrap {
        width: 70%;
    }
}

@media only screen and (max-width: 576px) {

    .screen-container {
        padding-top: 35vh;
    }

    .form-wrap {
        width: 100%;
    }
}