.carousel{
  display: block;
  height: 50vh;
}

.slide {
  height: 50vh;
  width: 70vw;
  position: absolute;
  top: 0;
  left : 15vw;
}

.control {
  border: none;
  background-color: transparent;
  outline: 0; 
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 3em;
  height: 100%;
  opacity: 80%;
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.control:hover, .control:focus {
    opacity: 1;
  }

 .control.next {
    right: 15vw;
  }
.control.prev {
    left: 15vw;
  }

.arrow {
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;
}
.arrow.left {
    transform: rotate(45deg);
  }
.arrow.right {
    transform: rotate(225deg);
  }
 
/* Small Screen*/

@media (max-width: 576px)
{

  .slide {
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left : 0vw;
  }
  .control.next {
    right: 0vw;
  }
  .control.prev {
    left: 0vw;
  }

}