<div class="item">
  <div class="d-inline-flex flex-wrap">
    <div class="image-div">
      <img class= "listimage" src="../../../assets/images/carousal0.jpg">
    </div>
    <div class="details">
      <h1 class="display-4" style="color: #FFFFFF;">Item Name</h1>
      <p>
          Some Description about the item in few words,
          Some Description about the item in few words,
          Some Description about the item in few words
          Some Description about the item in few words
      </p>
      <div class="row">
        <div class="col-12 col-md-8">
          <span class="price align-middle">
              <span class="badge" style="font-size: 100%;background-color: #31708E;">&#8377; </span>&nbsp;199.99
          </span>&nbsp;
          <span class="badge" style="font-size: 100%;padding: 0.3rem; background-color: #687864;">BestSeller</span>
        </div>
        <div class="col-12 col-md-4">
          <button class="btn addtocart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
       </div>
      </div>
    </div>
  </div>
</div>
