<div class="row item no-gutters">
    <div class="col-12 col-md-4">
        <img class= "listimage" src="../../../assets/images/carousal0.jpg">
    </div>
    <div class="col-12 col-md-8" style="padding: 1rem 0rem 0rem 1rem;">
      <p class="display-4">Item Name</p>
      <p>
          Some Description about the item in few words,
          Some Description about the item in few words,
          Some Description about the item in few words
          Some Description about the item in few words
      </p>
      <div class="col-12 col-md-6 col-xl-3 ml-auto d-flex justify-content-end">
        <button class="btn addtocart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
      </div>
      <br>
    </div>
</div>
