<div class="row no-gutters">
    <div class="col-10 offset-1 col-md-6 offset-md-3">
        <h3>Congratulations! You have successfully placed and order</h3>
        <br>
        <span class="d-flex justify-content-center">
            <img src="https://cdn0.iconfinder.com/data/icons/business-and-finance-13-1/68/634-512.png"
            class="img-fluid" style="height: 40vh;"
            >
        </span>
        <br>
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <h4>OrderID</h4>
            </div>
            <div class="col-12 col-md-8">
                <h4>9856467433469AGBH</h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <h4>Expected Delivery</h4>
            </div>
            <div class="col-12 col-md-8">
                <h4>20 July 2020</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3 text-right">
                <button class="btn btn-lg btn-block btn-success text-uppercase">Visit My Orders</button>
            </div>
        </div>
    </div>
</div>